
@* 화면에 있는 Text Box 에서 입력한 내용을 List 에 저장하고
   저장된 내용을 선택하면 --> 완료된 것으로 표시 (삭제하지 않고, 상태 값으로 삭제 표시)
   ToDo, Done, All button 을 선택하면 --> 각각 할일, 완료된 것, 전체가 표시 되도록 합니다 *@  


<div id="app">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Vue.js - ToDo Application</h1>

        @* text box 에서 입력하고, keyup event 발생하면 --> submit method 연결 *@ 
        <input type="text" class="form-control mb-4" v-on:keyup.enter="submit" v-model="userInput">
        
        <div class="list-group mb-4">

            @*v-for 가 button tag 안에 같이 있어서 보기가 나쁘기 때문에 --> v-for 를 template tag 로 분리*@
            @*<template v-for="todo in todoList.filter(todo => todo.state === 'active')">*@
            @* v-for loop 에 filter 를 걸어서 active 인 것만 표시할 수도 있음.. 그런데 안 좋은 방법.. 찾기가 힘들어짐 ---> script 로 분리 하는 것이 좋음*@
            @*<template v-for="todo in activeTodoList()">*@
            @* todo 에 method activeTodoList() 결과를 assign *@

            @* activeTodoList 를 computed 라는 json object 로 사용하면, activeTodoList 처럼 괄호없이, 변수처럼 사용 가능 *@

            <template v-for="todo in activeTodoList">
                @*<button class="list-group-item text-left" v-for="todo in activeTodoList"></button>*@

                @* List 에 입력된 내용을 click 하면 상태 변경하는 click event 발생 하면 --> toggleTodoState(todo) method 연결 *@
                <button class="list-group-item text-left" v-on:click="toggleTodoState(todo)">
                    @*{{ todo }}*@
                    @*위 처럼, string 으로 표시하면, json 형식의 name : value 를 전부 표시 함 --> 그래서 todo.label 처럼 입력한 값만 표시*@
                    {{ todo.label }}
                </button>
            </template>
        </div>

        @* 화면에 표시할 상태 button --> button 을 클릭할 때 마다, state 가 todo, done, all 인 것들이 표시됨 *@
        <div class="text-right">
            <button type="button" class="btn btn-sm" v-on:click="changeCurrentState('active')"><b>TODO</b></button>
            <button type="button" class="btn btn-sm" v-on:click="changeCurrentState('done')"><b>DONE</b></button>
            <button type="button" class="btn btn-sm" v-on:click="changeCurrentState('all')"><b>ALL</b></button>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el : '#app',
        data:{
            userInput: '',
            todoList: [],
            currentState: 'active'
        },
        //activeTodoList() {
        //  this.todoList.filter(todo => todo.state === 'active');
        //}
        // 위 method activeTodoList 를 computed 라는 json object 를 만들어서 사용
        // computed 는 class 의 get 함수 처럼 동작
        computed: {
            activeTodoList: function () {
                return this.todoList.filter(todo => this.currentState === 'all' || todo.state === this.currentState);
            }
        },
        methods: {
            changeCurrentState(state){
                this.currentState = state;
            },
            //text box 에서 입력하고, keyup event 발생했을 때 -- > 입력 내용을 List 에 저장 
            submit: function () {

                // this.todoList.push(this.userInput);
                // 위에서 string 으로 assign 했던 것을 json 형식으로 변경
                this.todoList.push({
                    label: this.userInput,
                    state: 'active'
                });
                this.userInput = '';
            },
            //입력된 내용을 click 하면 --> active 에서 done 으로 상태를 변경 
            toggleTodoState(todo){
                todo.state = todo.state === 'active' ? 'done' : 'active';
            }
        }
    })
</script>